<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Teste Fuleiro</title>
</head>
<body>
    <ul style="list-style-type:none; padding:0px">
        <li><input type="text" id="sCepOrigem" /></li>
        <li><input type="text" id="sCepDestino" /></li>
        <li><input type="text" id="nVlPeso" /></li>
        <li><input type="text" id="nCdFormato" /></li>
        <li><input type="text" id="nVlComprimento" /></li>
        <li><input type="text" id="nVlAltura" /></li>
        <li><input type="text" id="nVlLargura" /></li>
        <li><input type="text" id="sCdMaoPropria" /></li>
        <li><input type="text" id="nVlValorDeclarado" /></li>
        <li><input type="text" id="sCdAvisoRecebimento" /></li>
        <li><input type="text" id="nCdServico" /></li>
        <li><input type="text" id="nVlDiametro" /></li>
        <li><input type="button" id="enviar" value="Enviar" onclick="enviar()" /></li>
    </ul>
    <ul style="list-style-type:none; padding:0px">
        <li><span>Codigo: </span><span id="Codigo"></span></li>
        <li><span>Valor: </span><span id="Valor"></span></li>
        <li><span>Prazo de Entrega: </span><span id="PrazoEntrega"></span></li>
        <li><span>Valor Sem Adicionais: </span><span id="ValorSemAdicionais"></span></li>
        <li><span>Valor Mão Propria: </span><span id="ValorMaoPropria"></span></li>
        <li><span>Valor Aviso Recebimento: </span><span id="ValorAvisoRecebimento"></span></li>
        <li><span>Valor Valor Declarado: </span><span id="ValorValorDeclarado"></span></li>
        <li><span>Entrega Domiciliar: </span><span id="EntregaDomiciliar"></span></li>
        <li><span>Entrega Sabado: </span><span id="EntregaSabado"></span></li>
        <li><span>Observações Fim: </span><span id="obsFim"></span></li>
        <li><span>Erro: </span><span id="Erro"></span></li>
        <li><span>Mensagem de Erro: </span><span id="MsgErro"></span></li>
    </ul>
    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="util/scripts.js"></script>
</body>
</html>