<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div class="content">
        <!--FORMULÁRIO DE LOGIN-->
        <div id="login">
            <form method="post" action="">
                <h1>Sistema de Correios</h1>
                <p>
                    <label for="dataSolicitacao">Data da Solicitação</label>
                    <input id="DataSolicitacao" name="nome_login" required="required" type="datetime" placeholder="28/04/1997" />
                </p>

                <p>
                    <label for="cepOrigem"> Cep de Origem </label>
                    <input id="CepOrigem" name="email_login" required="required" type="number" placeholder="891200000" />
                </p>
                <p>
                    <label for="cepDestino"> Cep de Destino </label>
                    <input id="CepDestino" name="email_login" required="required" type="number" placeholder="891200000" />
                </p>
                <p>
                    <label for="Peso"> Peso </label>
                    <input id="Peso" name="peso" required="required" type="number" placeholder="10.5" />
                </p>

                <p>
                    <input type="submit" value="Calcular Valor" />
                </p>


            </form>
        </div>
    </div>
    <link href="Css/Style.css" rel="stylesheet" />
    <script src="util/scripts.js"></script>
</body>
</html>