<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="content">
        <div id="login">
            <form method="post" action="">
                <h1>Delivery</h1>
                <p>
                    <label for="dataSolicitacao">Data da Solicitação</label>
                    <input id="DataSolicitacao" name="nome_login" required="required" type="text" placeholder="28/04/1997" />
                </p>

                <p>
                    <label for="sCepOrigem"> Cep de Origem </label>
                    <input id="sCepOrigem" name="email_login" required="required" type="number" placeholder="891200000" />
                </p>
                <p>
                    <label for="cepDestino"> Cep de Destino </label>
                    <input id="sCepDestino" name="email_login" required="required" type="number" placeholder="891200000" />
                </p>
                <p>
                    <label for="Peso"> Peso </label>
                    <input id="nVlPeso" name="peso" required="required" type="number" placeholder="0.0" />
                </p>

                <p>
                    <label for="Comprimento"> Comprimento </label>
                    <input id="nVlComprimento" name="peso" required="required" type="number" placeholder="0.0" />
                </p>

                <p>
                    <label for="nVlAltura"> Altura </label>
                    <input id="nVlAltura" name="peso" required="required" type="number" placeholder="0.0" />
                </p>


                <p>
                    <label for="nVlLargura"> Largura </label>
                    <input id="nVlLargura" name="peso" required="required" type="number" placeholder="0.0" />
                </p>

                <p>
                    <label for="sCdMaoPropria"> Mão Propria </label>
                    <select name="sCdMaoPropria" id="sCdMaoPropria" style="font-family: 'sans-serif'; font-size: 17px ; background-color: #d1d1d1">
                        <option value="1"> Sim </option>
                        <option value="2"> Não </option>
                    </select>
                </p>

                <p>
                    <label for="nVlValorDeclarado"> Valor Declarado </label>
                    <input id="nVlValorDeclarado" name="peso" type="number" placeholder="0.0" />
                </p>

                <p>
                    <label for="sCdAvisoRecebimento"> Aviso Recebimento </label>
                    <select name="sCdAvisoRecebimento" id="sCdAvisoRecebimento" style="font-family: 'sans-serif'; font-size: 17px ; background-color: #d1d1d1">
                        <option value="1"> Sim </option>
                        <option value="2"> Não </option>
                    </select>
                </p>

                <p>
                    <label for="nCdServico"> Cód Serviço </label>
                    <select name="nCdServico" id="nCdServico" style="font-family: 'sans-serif'; font-size: 17px ; background-color: #d1d1d1">
                        <option value="04014">SEDEX à vista</option>
                        <option value="04065">SEDEX à vista pagamento na entrega</option>
                        <option value="04510">PAC à vista</option>
                        <option value="04707">PAC à vista pagamento na entrega</option>
                        <option value="40169">SEDEX 12 ( à vista e a faturar)*</option>
                        <option value="40215">SEDEX 10 (à vista e a faturar)*</option>
                        <option value="40290">SEDEX Hoje Varejo*</option>
                    </select>
                </p>

                <p>
                    <input type="submit" value="Calcular Valor" onclick="enviar()" />
                </p>


            </form>
        </div>
    </div>
    <link href="Css/Style.css" rel="stylesheet" />
    <script src="Util/scripts.js"></script>
    <script src="Scripts/jquery-3.0.0.min.js"></script>
</body>
</html>